<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shijie99.onequality.whitelist.dao.ChannelConfigurationMapper" >
  <resultMap id="BaseResultMap" type="com.shijie99.onequality.whitelist.pojo.ChannelConfiguration" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="channeltype" property="channeltype" jdbcType="VARCHAR" />
    <result column="channelname" property="channelname" jdbcType="VARCHAR" />
    <result column="channelcid" property="channelcid" jdbcType="VARCHAR" />
    <result column="dbname" property="dbname" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="whiteurl" property="whiteurl" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, channeltype, channelname, channelcid, dbname, address, username, password, whiteurl, 
    createtime, creator
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shijie99.onequality.whitelist.pojo.ChannelConfigurationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from channel_configuration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from channel_configuration
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from channel_configuration
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shijie99.onequality.whitelist.pojo.ChannelConfigurationExample" >
    delete from channel_configuration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shijie99.onequality.whitelist.pojo.ChannelConfiguration" >
    insert into channel_configuration (id, channeltype, channelname, 
      channelcid, dbname, address, 
      username, password, whiteurl, 
      createtime, creator)
    values (#{id,jdbcType=INTEGER}, #{channeltype,jdbcType=VARCHAR}, #{channelname,jdbcType=VARCHAR}, 
      #{channelcid,jdbcType=VARCHAR}, #{dbname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{whiteurl,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shijie99.onequality.whitelist.pojo.ChannelConfiguration" >
    insert into channel_configuration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="channeltype != null" >
        channeltype,
      </if>
      <if test="channelname != null" >
        channelname,
      </if>
      <if test="channelcid != null" >
        channelcid,
      </if>
      <if test="dbname != null" >
        dbname,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="whiteurl != null" >
        whiteurl,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="channeltype != null" >
        #{channeltype,jdbcType=VARCHAR},
      </if>
      <if test="channelname != null" >
        #{channelname,jdbcType=VARCHAR},
      </if>
      <if test="channelcid != null" >
        #{channelcid,jdbcType=VARCHAR},
      </if>
      <if test="dbname != null" >
        #{dbname,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="whiteurl != null" >
        #{whiteurl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shijie99.onequality.whitelist.pojo.ChannelConfigurationExample" resultType="java.lang.Integer" >
    select count(*) from channel_configuration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update channel_configuration
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.channeltype != null" >
        channeltype = #{record.channeltype,jdbcType=VARCHAR},
      </if>
      <if test="record.channelname != null" >
        channelname = #{record.channelname,jdbcType=VARCHAR},
      </if>
      <if test="record.channelcid != null" >
        channelcid = #{record.channelcid,jdbcType=VARCHAR},
      </if>
      <if test="record.dbname != null" >
        dbname = #{record.dbname,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.whiteurl != null" >
        whiteurl = #{record.whiteurl,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update channel_configuration
    set id = #{record.id,jdbcType=INTEGER},
      channeltype = #{record.channeltype,jdbcType=VARCHAR},
      channelname = #{record.channelname,jdbcType=VARCHAR},
      channelcid = #{record.channelcid,jdbcType=VARCHAR},
      dbname = #{record.dbname,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      whiteurl = #{record.whiteurl,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shijie99.onequality.whitelist.pojo.ChannelConfiguration" >
    update channel_configuration
    <set >
      <if test="channeltype != null" >
        channeltype = #{channeltype,jdbcType=VARCHAR},
      </if>
      <if test="channelname != null" >
        channelname = #{channelname,jdbcType=VARCHAR},
      </if>
      <if test="channelcid != null" >
        channelcid = #{channelcid,jdbcType=VARCHAR},
      </if>
      <if test="dbname != null" >
        dbname = #{dbname,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="whiteurl != null" >
        whiteurl = #{whiteurl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shijie99.onequality.whitelist.pojo.ChannelConfiguration" >
    update channel_configuration
    set channeltype = #{channeltype,jdbcType=VARCHAR},
      channelname = #{channelname,jdbcType=VARCHAR},
      channelcid = #{channelcid,jdbcType=VARCHAR},
      dbname = #{dbname,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      whiteurl = #{whiteurl,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>